div{
    height:200px;
    width: 200px;
    background-color:rgba(255, 0, 0, 0.77) ;
}
/* opacity for heading ,color, and all but aplha is only for color*/
#opt{
    background-color: #ffa511;
    opacity: 1;
}